@import "../utils/include-media_styles/breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=M+PLUS+1:wght@200&family=Work+Sans:wght@300&display=swap");
//accent colors
$mn: #e7d3d3;
$fd: #f0e4e4;
$btn: #dabfbf;
$btf: #997380;
$btnh: #d3abab;
//font
$ft: "Work Sans", sans-serif;

@mixin flexbox() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inputWrapper {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.error {
  position: absolute;
  bottom: 110%;
  right: 0;
  &::after {
    content: "a";
    position: absolute;
    top: 60%;
    right: 20px;
  }
}
.field {
  width: 100%;
  height: 2.5rem;
  background-color: $fd;
  border: none;
  padding-left: 10px;
  outline: none;
  @include media("<=481px") {
    height: 2rem;
  }
}
.eye {
  width: 20px;
  position: absolute;
  left: 95%;
  bottom: 25%;
  @include media("<=tablet") {
    left: 92%;
  }
  @include media("<=481px") {
    left: 90%;
    width: 15px;
  }
}
.password {
  position: relative;
}
.badField {
  border: 3px solid rgb(122, 72, 114);
  width: 100%;
  height: 2.5rem;
  background-color: $fd;
}
form {
  width: 600px;
  @include flexbox();
  @include media("<=tablet") {
    width: 400px;
  }
  @include media("<=481px") {
    width: 250px;
  }
  @include media("<=phone") {
    width: 200px;
  }
}
main {
  @include flexbox();
  background-color: $mn;
  height: 100vh;
}
button {
  width: 40%;
  height: 30px;
  border-radius: 8px;
  border-style: none;
  margin: 0 auto;
  background-color: $btn;
  font-family: $ft;
  font-weight: bold;
  font-size: 1rem;
  color: $btf;
  &:hover {
    background-color: $btnh;
  }
  @include media("<=481px") {
    width: 35%;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  @include media("<=phone") {
    font-size: 0.8rem;
    height: 25px;
  }
}

h1 {
  font-family: $ft;
  color: $btf;
  @include media("<=tablet") {
    font-size: 1.5rem;
  }
  @include media("<=481px") {
    font-size: 1.2rem;
  }
  @include media("<=phone") {
    font-size: 1rem;
  }
}
.btnWrapper {
  width: 100%;
  @include flexbox();
}
