@import "../utils/include-media_styles/breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&display=swap");

$mn: #e7d3d3;
$fd: #f0e4e4;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inputWrapper {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.error {
  position: absolute;
  bottom: 110%;
  right: 0;
  &::after {
    content: "a";
    position: absolute;
    top: 60%;
    right: 20px;
  }
}
.field {
  width: 100%;
  height: 2.5rem;
  background-color: $fd;
  border: none;
  padding-left: 10px;
  outline:none;
}
.eye{
    width:20px;
    position: absolute;
    left:95%;
    bottom: 25%;
}
.password{
    position: relative;
}
.badField {
  border: 3px solid rgb(122, 72, 114);
  width: 100%;
  height: 2.5rem;
  background-color: $fd;
  
}
form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  //   flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $mn;
  height: 100vh;
}
.btnWrapper {
  display: flex;
  //   flex-direction: column;
  align-items: center;
}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
